.container {
  transition: all 0.2s ease-in-out;
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}

span {
  display: inline-block;
}

img,
svg {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

select,
button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  /*border: none;*/
  background-color: transparent;
  color: inherit;
  cursor: pointer;

  transition: all 0.1s ease;
}

input,
textarea {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

input::placeholder {
  color: inherit;
}

label {
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

li {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

section {
  background-size: contain;
  background-repeat: no-repeat;
}

dialog {
  border: none;
  outline: none;
}

iframe {
  width: 100%;
  height: 100%;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
