@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'common';
@import 'keyFrames';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-base;
}

h2 {
  @apply text-h2 font-semibold text-blue-900;
}

h1 {
  @apply text-h1 font-semibold;
}

.primary-button {
  @apply py-1.5 px-3 font-semibold rounded-button gap-2.5;
}

.sidebar-active {
  @apply translate-x-0 z-[999];
}

.overlay-active {
  @apply backdrop-blur-sm z-[990] visible;
}

.sidebar-container,
.overlay {
  transition: all 0.3s cubic-bezier(0.81, 0.17, 0.54, 0.72);
}

.twitter {
  @apply text-icons-twitter hover:bg-icons-twitter hover:text-white;
}

.facebook {
  @apply text-icons-facebook;
  &:hover {
    color: white;
    background: linear-gradient(to bottom, #21b1fe, #0868e3);
  }
}

.linkedin {
  @apply text-icons-linkedin hover:bg-icons-linkedin hover:text-white;
}

.youtube {
  @apply text-icons-youtube hover:bg-icons-youtube hover:text-white;
}

.instagram {
  @apply text-icons-instagram;
  &:hover {
    color: white;
    background: linear-gradient(
      30deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
  }
}

button:active {
  @apply scale-[0.95];
}

.select-icon {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

section {
  @apply py-6;
}

.blue-link-btn {
  @apply bg-blue-700;
}

.orange-link-btn {
  @apply bg-orange-500;
}

.teal-link-btn {
  @apply bg-teal-600;
}

.red-link-btn {
  @apply bg-red-600;
}

/* Scroll bar Style */
::-webkit-scrollbar {
  @apply size-2;
}

.small-scrollbar::-webkit-scrollbar {
  @apply size-1;
}

::-webkit-scrollbar-thumb {
  @apply bg-orange-500 rounded-full;
}

@media print {
  header,
  footer,
  .print-hidden {
    @apply hidden;
  }
  #printed-section {
    @apply break-after-avoid text-[0.5em] py-4;
  }
  .estate-description {
    @apply py-4;
  }
}

.container-3d {
  perspective: 1000px;
}

.img-banner {
  background-image: url('../img/imgSectionBg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.stats-text {
  font-size: clamp(20px, 3vw, 55px);
}

.stats-title {
  font-size: clamp(12px, 3vw, 18px);
}

.disabled {
  @apply pointer-events-none select-none relative before:absolute before:z-20 before:-top-[13px] before:left-1/2 before:-translate-x-1/2 before:content-['🚫'] before:rounded-lg before:text-white before:font-medium after:absolute after:inset-0 after:rounded-xl after:z-10 after:bg-white/40 after:backdrop-blur-[1px];
}
