@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'common.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-base;
}

.primary-button {
  @apply py-1.5 px-3 font-semibold rounded-button gap-2.5;
}

.sidebar-active {
  @apply translate-x-0 z-30;
}

.overlay-active {
  @apply backdrop-blur-sm z-30 visible;
}

.sidebar-container,
.overlay {
  transition: all 0.3s cubic-bezier(0.81, 0.17, 0.54, 0.72);
}

.twitter {
  @apply text-icons-twitter hover:bg-icons-twitter hover:text-white;
}

.facebook {
  @apply text-icons-facebook hover:bg-icons-facebook hover:text-white;
}

.linkedin {
  @apply text-icons-linkedin hover:bg-icons-linkedin hover:text-white;
}

.instagram {
  @apply text-icons-instagram hover:bg-icons-instagram hover:text-white;
}

button:active {
  @apply scale-[0.95];
}

.select-icon {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

section {
  @apply pt-6;
}

.blue-link-btn {
  @apply bg-blue-700;
}

.orange-link-btn {
  @apply bg-orange-500;
}

.teal-link-btn {
  @apply bg-teal-600;
}

.red-link-btn {
  @apply bg-red-600;
}

/* Scroll bar Style */
::-webkit-scrollbar {
  @apply size-1;
}
::-webkit-scrollbar-thumb {
  @apply bg-orange-500 rounded-full;
}
